.hero-slider {
  &-image {
    img {
      max-width: 100%;
    }
  }
  &.-pink {
    --green-color: #{setColor(pink)};
  }
  &.-coffee {
    --green-color: #{setColor(coffee)};
  }
  &.-carousel {
    // position: relative;
    .slick-slider-item {
      position: relative;
      height: 100%;
      width: 100%;
      &.spacing {
        img {
          padding: 0 10px !important;
        }
      }
    }
    .slick-arrow {
      height: emCal(16, 45);
      width: emCal(16, 45);
      background-color: setColor(green);
      color: #fff;
      border-radius: 999px;
      text-align: center;
      line-height: emCal(16, 45);
      padding-top: emCal(16, 7);
      transition: $transition;
      opacity: 0.7;
      &:hover {
        opacity: 0.9;
        // background-color: lighten(setColor(green), 10%);
      }
    }
    .hero-slider-subitems {
      margin: 1.4rem 0 2.5rem 0;
      a {
        max-height: 220px;
      }
    }
  }
  &.-single {
    .hero-slider-wrapper {
      position: relative;
      .hero-slider-content-wrapper {
        padding: 0 emCal(16, 15);
        .hero-slider-content {
          @include mq(md) {
            margin-bottom: emCal(14, 30);
          }
        }
      }
    }
  }
  &-content {
    h5 {
      @include typo($fsz: emCal(16, 16), $color: setColor(green), $fw: 600);
      letter-spacing: emCal(14, 2.8);
      margin-bottom: emCal(14, 10);
    }
    h1 {
      @include typo($fsz: emCal(16, 60), $fw: 600);
      margin-bottom: emCal(60, 15);
    }
    h3 {
      @include typo($fsz: emCal(16, 30), $color: setColor(green), $fw: 600);
      margin-bottom: emCal(30, 50);
      span {
        font-size: emCal(30, 18);
        color: setShadeColor(medium);
        font-family: getFontWeight(500);
      }
    }
    .ant-btn {
      font-size: emCal(16, 13);
      font-family: getFontWeight(600);
      height: emCal(16, 55);
      text-transform: uppercase;
      padding: 0 emCal(16, 45);
    }
  }
  &.-style-one {
    .hero-slider-content-wrapper {
      padding: emCal(16, 100) 0;
      min-height: 40rem;
      @include mq(md) {
        min-height: 25rem;
      }
      @include mq(sm) {
        min-height: 20rem;
      }
      .hero-slider-content {
        padding: 1rem;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        @include mq(md) {
          margin-bottom: emCal(14, 50);
        }
      }
    }
  }
}
