.introduction-two {
  margin-bottom: $section-spacing;
  // &-wrapper {
  //   background: {
  //     image: url("/assets/images/sections/introduction/two/bg.png");
  //     size: cover;
  //     position: center;
  //   }
  // }
  &-image {
    img {
      max-width: 100%;
    }
  }
  &-content {
    p {
      @include typo($color: setShadeColor(medium), $lh: emCal(16, 26));
      margin-bottom: emCal(16, 30);
    }
    img {
      margin-bottom: emCal(16, 30);
    }
    h3 {
      @include typo($fw: 600, $fsz: emCal(16, 22));
      margin-bottom: emCal(16, 10);
      color: rgb(10, 88, 107);
      i {
        margin-right: 1rem;
      }
    }
    h5 {
      @include typo($fsz: emCal(16, 12), $fw: 600, $color: setColor(coffee));
    }
  }
}

.introduction-four {
  background: {
    image: url("/assets/images/sections/introduction/four/bg.webp");
    position: center;
    size: cover;
    attachment: fixed;
    opacity: 0.5;
  }
  padding: emCal(16, 50) 0;
  margin-bottom: $section-spacing;
  &-content {
    background-color: #00000080;
    padding: 1rem 2rem;
    border-radius: 0 0 10px 10px;
    max-height: 400px;
    overflow-y: auto;
  }
  h3 {
    font-size: emCal(16, 25);
    padding-top: 1rem;
    color: beige;
    i {
      margin-right: 1rem;
      color: #30b8ac;
    }
    .line {
      margin-top: 1rem;
      height: 2px;
      width: 100%;
      background: linear-gradient(to right, #30b8ac, #fefefe00);
    }
  }
}

.introduction-five {
  margin-bottom: $section-spacing;
  padding: emCal(16, 20) 0;
  background: {
    image: url("/assets/images/sections/introduction/five/bg.png");
    size: cover;
    text-align: center;
  }
  .section-title {
    h2 {
      font-size: emCal(16, 36);
    }
  }
  &-benefits {
    &__item {
      @extend .dow-one-content__item;
      &-image {
        @extend .dow-one-content__item-image;
      }
      &-content {
        @extend .dow-one-content__item-content;
      }
    }
  }
}

.introduction-six {
  margin-bottom: $section-spacing;
  .section-title {
    h2 {
      font-size: emCal(16, 36);
    }
  }
  &-content {
    &__item {
      height: emCal(16, 330);
      position: relative;
      overflow: hidden;
      border-radius: emCal(16, 5);
      background: {
        size: cover;
        position: center;
      }
      &:hover {
        main {
          top: 0;
          left: 0;
        }
      }
      main {
        transition: $transition;
        position: absolute;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include mq(md) {
          left: 0;
        }
        h3 {
          @include typo($fsz: emCal(16, 22), $fw: 600, $color: #fff);
          margin-top: 12rem;
          margin-bottom: emCal(22, 15);
        }
        h5 {
          @include typo($fsz: emCal(16, 12), $fw: 500, $color: #fff, $up: true);
          margin-bottom: emCal(13, 20);
        }
      }
    }
  }
}
