.menu {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-mobile-opener {
      @include link;
      display: none;
    }
  }
  &-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-navigator {
      border-right: 0;
      margin-bottom: emCal(14, 50);
      .ant-menu-submenu-title,
      .ant-menu-item-only-child {
        font-family: getFontWeight(600);
      }
    }
    &-functions {
      &__login {
        margin-bottom: emCal(14, 15);
        display: block;
      }
      .social-icons {
        display: block;
      }
    }
  }
  &.-style-one {
    padding: emCal(16, 20) 0;
    .menu-mobile-opener {
      @include mq(md) {
        display: block;
      }
    }
    @include mq(md) {
      .menu-logo {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
