@mixin typo(
  $color: setShadeColor(dark),
  $fsz: 1.2rem,
  $fw: normal,
  $lh: 1.3,
  $up: false,
  $cpt: false
) {
  color: setColor($color);
  font-size: $fsz;
  // font-weight: $fw;
  font-family: getFontWeight($fw);
  line-height: $lh;
  //Text decoration
  @if $up {
    text-transform: uppercase;
  }
  @if $cpt {
    text-transform: capitalize;
  }
}

@mixin link(
  $color: setShadeColor(dark),
  $hvr-color: setColor(green),
  $fsz: 1.2em,
  $fw: normal,
  $lh: 1,
  $up: false,
  $cpt: false,
  $underline: false
) {
  color: setColor($color);
  font-size: $fsz;
  // font-weight: $fw;
  font-family: getFontWeight($fw);
  text-decoration: none;
  line-height: $lh;
  transition: $transition;
  cursor: pointer;
  &:hover {
    color: setColor($hvr-color);
    @if $underline {
      text-decoration: underline;
    }
  }
  //Text decoration
  @if $up {
    text-transform: uppercase;
  }
  @if $cpt {
    text-transform: capitalize;
  }
}

@mixin overflowText($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@mixin imgCenter($height: 100%, $width: 100%, $type: cover) {
  height: $height;
  width: $width;
  object-fit: $type;
}
@mixin mq($canvas) {
  @each $name, $bp in $breakpoint {
    @if $canvas == $name {
      @media only screen and (max-width: $bp) {
        @content;
      }
    }
  }
}
