.about {
  &-story {
    margin-bottom: $section-spacing;
    &__content {
      .section-title {
        h2 {
          font-size: emCal(16, 36);
        }
      }
      p {
        @include typo(
          $color: setShadeColor(medium),
          $fw: 50,
          $lh: emCal(16, 26),
        );
        margin-bottom: emCal(16, 20);
      }
    }
    &__video {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 700px;
      margin: 1rem 0 2rem 0;
      img {
        @include imgCenter($height: emCal(16, 400));
        border-radius: 5px;
      }
      .ant-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: setColor(green);
        background-color: #fff;
        border: 0;
        height: emCal(16, 50);
        width: emCal(16, 50);
      }
    }
  }
  &-statistical {
    padding: emCal(16, 50) 1rem;
    border: 1px solid setShadeColor(light);
    margin-bottom: $section-spacing;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      &-icon {
        width: 6rem;
        margin-left: auto;
        text-align: center;
        i {
          color: var(--green-color);
          margin-right: 2rem;
        }
      }
      &-data {
        min-width: 55%;
        &__countup {
          h3,
          span {
            display: inline-block;
            @include typo($fsz: emCal(16, 48), $fw: 500);
          }
          p {
            @include typo($color: setShadeColor(medium));
          }
        }
      }
    }
  }
}
