.post {
  &:hover {
    .post-image {
      img {
        transform: scale(1.02);
      }
    }
  }
  &-image {
    overflow: hidden;
    .ant-image {
      display: block;
    }
    a {
      display: block;
      img {
        @include imgCenter;
        transition: $transition;
      }
    }
  }
  &-category {
    height: emCal(12, 25);
    font-size: emCal(16, 12);
    font-family: getFontWeight(600);
    letter-spacing: emCal(12, 2);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &-title {
    @include link(
      $fsz: emCal(16, 28),
      $lh: emCal(28, 38),
      $fw: 600,
      $underline: true
    );
    @include overflowText(2);
    margin-bottom: emCal(28, 10);
  }
  &-info {
    margin-bottom: emCal(16, 15);
    .credit {
      @include typo($fsz: emCal(16, 14), $color: setShadeColor(regular));
      display: inline-block;
      &.date {
        &:after {
          content: "|";
          padding: 0 emCal(16, 15);
        }
      }
    }
  }
  &-description {
    @include typo($lh: emCal(16, 24), $color: setShadeColor(disable));
    @include overflowText(2);
    margin-bottom: emCal(24, 20);
  }
  &-readmore {
    @include link($lh: emCal(16, 13), $fw: 600, $hvr-color: setColor(green));
    text-transform: uppercase;
    span {
      color: setColor(green);
      margin-left: emCal(13, 3);
    }
  }
  &.-pink {
    --green-color: #{setColor(pink)};
  }
  &.-coffee {
    --green-color: #{setColor(coffee)};
  }
  &.-style-one {
    .post {
      &-image {
        img {
          @include imgCenter($height: emCal(16, 200));
        }
      }
    }
  }
  &-tiny {
    display: flex;
    align-items: center;
    &-image {
      margin-right: emCal(16, 15);
      img {
        @include imgCenter(emCal(16, 80), emCal(16, 80));
      }
    }
    &-content {
      .post-tiny-title {
        @include link($fw: 600, $lh: emCal(16, 24));
        @include overflowText(2);
      }
    }
  }
}
